:root{
  --cor-fundo:#B61E4C;
  --cor-destaque:#362442;
  --cor-texto:#FFFFFF
}

*{
  margin: 0;
  padding: 0;
}

body{
  background-color:var(--cor-fundo);
  color: var(--cor-texto);
}

strong{
  color: var(--cor-destaque);
}

.aprsentacao{
  display: flex;
  margin: 10%;
  align-items: center;
  justify-content: space-between;
}

a{
}

.foto{
  height: 490px;
}