:root{
  --cor-fundo:#B61E4C;
  --cor-destaque:#362442;
  --cor-texto:#FFFFFF
}

body{
  background-color:var(--cor-fundo);
  color: var(--cor-texto);
}

strong{
  color: var(--cor-destaque);
}

a{
  color:var(--cor-texto);
  font-size: 18px;
  text-decoration: none;
  background-color: var(--cor-destaque);
  padding: 10px 40px;
  margin: 10px;
  border-radius: 25px;
}